*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.hero{
    height: 100%;
    width: 100%;
    background-image:url("bg.png");
    background-position: center;
    background-size: cover;
    position:absolute;
}
.form-box{
    width: 380px;
    height: 450px;
    position: relative;
    right: 20%;
    top: 5%;
    margin: 3% auto;
    background:#FFE3FE;
    border-radius: 25px;
    padding: 5px;
    overflow: hidden;
}
.button-box{
    width: 220px;
    margin: 35px;
    position: relative;
    top: 30px;
    left:12%;
    box-shadow: 0 0 20px 9px #FAAFF7;
    border-radius: 30px;
}
.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}
#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #C211A1,#6E229D);
    border-radius: 30px;
    transition: .5s;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 5px 0;
    margin: 10px 0;
    top: 15px;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;

}
.submit-btn{
    width: 55%;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    color: white;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #C211A1,#6E229D);
    border: 0;
    outline: none;
    border-radius: 30px;
}
    .submit-btn:hover {
        background: #C211A1;
        background-image: -webkit-linear-gradient(top, #C211A1, #6E229D);
        background-image: -moz-linear-gradient(top, #C211A1, #6E229D);
        background-image: -ms-linear-gradient(top, #C211A1, #6E229D);
        background-image: -o-linear-gradient(top, #C211A1, #6E229D);
        background-image: linear-gradient(to bottom, #C211A1, #6E229D);
        text-decoration: none;
      }
.check-box{
    margin: 30px 15px 22px 0;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}
#login{
    left: 50px;
}
#register{
    left: 450px;
}
.logo{
    
    position:relative;
    width: 150px;
    height: 150px;
    top: 50px;
    left: 40px;
}
.parkopedia{
    font-size: 45px;
    background: linear-gradient(to right, #f25287,#6E229D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    left: 220px;
    position: absolute;
    top: 100px;
}